{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col-sm-2 mx-auto" >
        <ul class="list-group">
            {% for category in categories %}
            <div class="list-group">
                <a href="{% url 'home' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    {{category.id}}
                </a>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-10 mx-auto">
        <div class="container ">
            <div class="row mx-auto">
                {% for product in productfs %}
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="{{product.image.url}} " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h5 class="card-title">{{ product.price }}</h5>
                        <p class="card-text">{{ product.discription }}</p>
                        <a href="#" class="btn btn-primary btn-sm">add to cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}
<form action="/pluscart">

    <h8><input class="quantity" min="0" name="quantity" value="{{c.quantity}}" type="number"></h8>
    <a href="/pluscart" name="cid" >+</a>
</form>

<h8><input class="quantity" min="0" name="quantity" value="{{c.quantity}}" type="number"></h8>
<a href="/pluscart">-</a>




{% csrf_token %}
{% for fm in form %}

<div class="form-group">
    {{ fm.label_tag }} {{ fm }} {{fm.errors|striptags}}<br><br>
</div>

{% endfor %}
<input type="submit" value="add product">
{% if form.non_field_errors %}
{% for error in non_field_errors %}
{{error}}
{% endfor %}
{% endif %}


{{ fm.label_tag }} {{ fm }} {{fm.errors|striptags}}<br><br>

<select name="{{form.category}}"

        {% for cat in category %}
<option value="{{cat.id}}">
    {{ cat.name }}
</option>
{% endfor %}
</select><br><br>


'''
Product.objects.create(
name = name,
discription = discription,
price = price,
image = image,
category = category
)'''

{% if request.user.is_authenticated %}

{% else %}
{% endif %}
{{cart.count}}
{% for fm in form %}

<p class="form-control">{{ fm.label_tag}} {{ fm }}  {{ fm.errors|striptags }}</p>
{% endfor %}
password1 = forms.CharField(label= 'Password',widget=forms.PasswordInput(attrs={'class':'form-control'}))
password2 = forms.CharField(label= 'Confirm Password (again)',widget=forms.PasswordInput(attrs={'class':'form-control'}))
<form action="/add_to_cart">
    <input type="hidden" name="productid" value="{{product.id}}">
    <input type="submit" value="add to cart">
</form>
<div class="list-group">
    <a href="/cart?quantityadd={{c.quantity}}&cartid={{c.id}}&productid={{c.product.id}}" class="list-group-item list-group-item-action active" aria-current="true">
        +
    </a>
</div>
<p class="card-text">{{ c.quantity }}</p>
<div class="list-group">
    <a href="/cart?quantitymin={{c.quantity}}" class="list-group-item list-group-item-action active" aria-current="true">
        -
    </a>
</div>
'''userID = request.POST.get("user")
print(userID)
user = request.user
print(user)'''
print(categoryID)
category = Category.objects.get(id=categoryID)
{% for customer in customers %}
{% endfor %}




import os
from twilio.rest import Client


# Find your Account SID and Auth Token at twilio.com/console
# and set the environment variables. See http://twil.io/secure
account_sid = os.environ['TWILIO_ACCOUNT_SID']
auth_token = os.environ['TWILIO_AUTH_TOKEN']
client = Client(account_sid, auth_token)

message = client.messages \
.create(
body="Join Earth's mightiest heroes. Like Kevin Bacon.",
from_='+15017122661',
to='+15558675310'
)

print(message.sid)


from django.db.models.signals import post_save
from django.contrib.auth.models import User
from .models import *
from django.dispatch import receiver

@receiver(signal=post_save,sender = Customers)
def post_save_create_customer(sender,instance,create,*args,**kwargs):
if created:
Customers.objects.create(user = instance)