{% extends 'base.html'%}
{% block content %}
<h1>CustomerInfo</h1>
<ul>
    {% for customer in customers %}
    <li>{{customer.name}}</li>
    <li>{{customer.email}}</li>
    <li>{{customer.phone}}</li>

    {% endfor %}
    <a href="#" > edit info</a>
</ul>

<h1>ADDRESS</h1>
<ul>
{% for add in address %}
    <li>{{add.city}}</li>
    <li>{{add.area}}</li>
    <li>{{add.pincode}}</li>
    <a href="#" > edit address</a>
{% endfor %}
    <a href="#" > add address</a>
</ul>
<a href="/orders">check  your order status</a>
{% if user.is_superuser %}
<div class="nav-item">
    <a class="nav-link active" href="/add_product" tabindex="-1" aria-disabled="true">Add Products</a>
</div>

<div class="nav-item">
    <a class="nav-link active" href="/add_category" tabindex="-1" aria-disabled="true">Add Category</a>
</div>
{% endif %}
{% endblock %}