{% extends 'base.html'%}
{% block content %}

<div class="row">
    <div class="col-sm-2 mx-auto" >
        <ul class="list-group">
            <a href="/store" class="list-group-item list-group-item-action active" aria-current="true">
                all
            </a>
            {% for category in categories %}
            <div class="list-group">
                <a href="/store?category={{category.id}}" class="list-group-item list-group-item-action active" aria-current="true">
                    {{category}}
                </a>
            </div>
            {% endfor %}

        </ul>
    </div>
    {% if products %}
    <div class="col-sm-10 mx-auto">
        <div class="container ">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3" style="width: 18rem;">
                    <img src="{{product.image.url}} " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <h5 class="card-title">{{ product.price }}</h5>
                        <p class="card-text">{{ product.discription }}</p>
                        <form action="/add_to_cart">
                            <input type="hidden" name="productid" value="{{product.id}}">
                            <input type="submit" value="add to cart">
                        </form>
                        <form action="/add_to_cart">
                            <input type="hidden" name="productid" value="{{product.id}}">
                            <input type="submit" value="buy">
                        </form>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h1>Products not found</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>




{% endblock %}
